/***********/
/** FONTS **/
/***********/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
/************/
/** COLORS **/
/************/
/**************/
/** GENERALS **/
/**************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}

.container {
  display: inherit;
  flex-direction: inherit;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  gap: inherit;
  position: inherit;
  justify-content: inherit;
  align-items: inherit;
}

figure {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 23px 23px 5px 23px;
  position: relative;
}
.header__items {
  display: flex;
  margin: 17px 0 22px 0;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .header__items {
    flex-direction: row;
    margin: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .header {
    flex-direction: row;
    padding-top: 32px;
  }
}

.logo {
  width: 121px;
  height: 33px;
  background: url("../assets/images/logo.svg") center no-repeat;
}
@media only screen and (min-width: 1024px) {
  .logo {
    margin-right: 40px;
  }
}

.nav {
  width: 100%;
  max-height: 0;
  border-radius: 10px;
  position: absolute;
  top: 96px;
  align-self: center;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #3b3054;
}
.nav ul {
  padding: 23px 25px 15px 25px;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .nav ul {
    display: flex;
    width: 300px;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }
}
.nav div + ul {
  padding: 15px 25px 23px 25px;
}
@media only screen and (min-width: 1024px) {
  .nav div + ul {
    width: 200px;
    padding: 0;
  }
}
.nav li {
  padding: 15px 0;
}
.nav li a {
  font-weight: 700;
  color: white;
}
.nav li a:active {
  opacity: 0.7;
}
@media only screen and (min-width: 1024px) {
  .nav li a {
    color: #9e9aa7;
  }
}
@media only screen and (min-width: 1024px) {
  .nav li a:hover {
    color: #35323e;
  }
}
@media only screen and (min-width: 1024px) {
  .nav {
    max-height: none;
    position: relative;
    top: 0;
    background-color: transparent;
  }
}

.nav-items {
  transition: opacity 0.2s;
}
@media only screen and (min-width: 1024px) {
  .nav-items {
    display: flex;
    justify-content: space-between;
    opacity: 1;
  }
}

.button {
  width: 100%;
  padding: 10px 25px;
  border: 1px solid transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  color: white;
  background-color: #2acfcf;
  outline: none;
}
.button:active {
  opacity: 0.75;
}
@media only screen and (min-width: 1024px) {
  .button:hover {
    cursor: pointer;
    opacity: 0.75;
  }
}

.button--register {
  border-radius: 30px;
  font-size: 1em;
}

.button--start {
  width: 190px;
  padding: 15px 20px;
  border-radius: 30px;
}

.button--hero {
  padding: 13px;
}

.button--shortener {
  margin-top: 15px;
  border-radius: 10px;
}
@media only screen and (min-width: 768px) {
  .button--shortener {
    width: 100%;
    grid-row: 1/2;
    grid-column: 2/3;
    margin-top: 0;
  }
}
@media only screen and (min-width: 1275px) {
  .button--shortener {
    font-size: 1.2em;
  }
}

.button--copy {
  width: 90%;
  padding: 7.5px;
  margin: 12px 0 5px 0;
  border-radius: 5px;
  font-size: 0.95em;
}
@media only screen and (min-width: 768px) {
  .button--copy {
    width: 115px;
    margin: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .button--copy {
    width: 105px;
  }
}

.hero {
  display: flex;
  height: 675px;
  margin-bottom: 145px;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  background: url("../assets/images/illustration-working.svg") 25px top no-repeat;
  background-size: 509.5px 335px;
}
.hero__info {
  max-width: 730px;
  padding: 20px;
}
@media only screen and (min-width: 1024px) {
  .hero__info {
    max-width: 807px;
  }
}
@media only screen and (min-width: 1275px) {
  .hero__info {
    padding: 0px;
    max-width: 600px;
  }
}
@media only screen and (min-width: 620px) {
  .hero {
    height: 620px;
    background-position: center top;
  }
}
@media only screen and (min-width: 1275px) {
  .hero {
    height: 600px;
    margin-bottom: 90px;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    background-position: center;
    background-size: 733px 482px;
    background-position: calc(100% + 125px) center;
  }
}
@media only screen and (min-width: 1441px) {
  .hero {
    background-position: 55vw center;
  }
}

.title {
  font-size: 1.35em;
  font-weight: 700;
  color: #35323e;
}

.title--hero {
  margin-bottom: 15px;
  font-size: 2.3em;
  line-height: 1.2em;
}
@media only screen and (min-width: 375px) {
  .title--hero {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 1275px) {
  .title--hero {
    margin-bottom: 0;
    font-size: 4.2em;
  }
}

.description {
  font-size: 1em;
  line-height: 1.7em;
  color: #9e9aa7;
}

.description--hero {
  margin-bottom: 25px;
  font-size: 1em;
}
@media only screen and (min-width: 375px) {
  .description--hero {
    font-size: 1.15em;
  }
}
@media only screen and (min-width: 620px) {
  .description--hero {
    margin-bottom: 35px;
  }
}
@media only screen and (min-width: 1275px) {
  .description--hero {
    font-size: 1.23em;
  }
}

.content {
  padding: 25px 25px 32.5px 25px;
  background-color: #eff0f5;
}

.shortened-urls {
  margin-bottom: 85px;
}
@media only screen and (min-width: 1024px) {
  .shortened-urls {
    margin-bottom: 120px;
  }
}

.url-container {
  padding: 12px 0;
  margin-bottom: 23px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}
@media only screen and (min-width: 768px) {
  .url-container {
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
  }
}

.original-url {
  display: block;
  overflow: hidden;
  padding: 0 15px 8px 15px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #35323e;
}
@media only screen and (min-width: 768px) {
  .original-url {
    max-width: 45%;
    padding: 0;
    margin-right: 25px;
  }
}
@media only screen and (min-width: 1024px) {
  .original-url {
    max-width: 60%;
  }
}

.shortened-url {
  display: block;
  padding: 13px 15px 0 15px;
  text-align: left;
  color: #2acfcf;
}
@media only screen and (min-width: 768px) {
  .shortened-url {
    padding: 0;
    margin: 0 25px 0 auto;
  }
}

.stats {
  text-align: center;
}

.title--stats {
  margin-bottom: 20px;
  font-size: 1.67em;
}
@media only screen and (min-width: 1024px) {
  .title--stats {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 1275px) {
  .title--stats {
    font-size: 2.15em;
  }
}

.description--stats {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 47px auto;
}
@media only screen and (min-width: 1024px) {
  .description--stats {
    max-width: 540px;
  }
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 1275px) {
  .stats-container {
    flex-direction: row;
    height: 460px;
    margin-bottom: 35px;
    justify-content: space-between;
  }
}

.stat:nth-of-type(2)::after, .stat:nth-of-type(2)::before {
  content: "";
  display: block;
  width: 8px;
  height: 48px;
  position: absolute;
  background-color: #2acfcf;
}
@media only screen and (min-width: 1275px) {
  .stat:nth-of-type(2)::after, .stat:nth-of-type(2)::before {
    width: 25px;
    height: 8px;
  }
}

.stat {
  display: flex;
  max-width: 350px;
  margin-bottom: 48px;
  position: relative;
  justify-content: center;
}
.stat__img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  position: absolute;
  background-color: #3b3054;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
@media only screen and (min-width: 1275px) {
  .stat__img {
    margin-left: 30px;
  }
}
.stat__img1 {
  background-image: url("../assets/images/icon-brand-recognition.svg");
}
.stat__img2 {
  background-image: url("../assets/images/icon-detailed-records.svg");
}
.stat__img3 {
  background-image: url("../assets/images/icon-fully-customizable.svg");
}
.stat__info {
  padding: 75px 25px 40px 25px;
  margin-top: 44px;
  border-radius: 5px;
  background-color: white;
}
@media only screen and (min-width: 1275px) {
  .stat__info {
    padding: 75px 30px 40px 30px;
    text-align: left;
  }
}
.stat:nth-of-type(2)::before {
  bottom: 100%;
}
@media only screen and (min-width: 1275px) {
  .stat:nth-of-type(2)::before {
    top: calc(50% - 4px);
    left: calc(-25px);
  }
}
.stat:nth-of-type(2)::after {
  top: 100%;
}
@media only screen and (min-width: 1275px) {
  .stat:nth-of-type(2)::after {
    top: calc(50% - 4px);
    left: 100%;
  }
}
@media only screen and (min-width: 1275px) {
  .stat {
    justify-content: flex-start;
  }
  .stat:first-of-type {
    margin-bottom: auto;
  }
  .stat:last-of-type {
    margin-top: auto;
  }
}

.title--stat {
  margin-bottom: 15px;
  font-size: 1.37em;
}
@media only screen and (min-width: 1275px) {
  .title--stat {
    font-size: 1.2em;
  }
}

.description--stat {
  font-size: 0.96em;
}
@media only screen and (min-width: 1275px) {
  .description--stat {
    font-size: 0.84em;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  height: 300px;
  gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #3b3054;
  background-image: url("../assets/images/bg-boost-mobile.svg");
  background-position: right top;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 1024px) {
  .banner {
    height: 250px;
    background-image: url("../assets/images/bg-boost-desktop.svg");
  }
}

.title--banner {
  font-size: 1.5em;
  color: white;
}
@media only screen and (min-width: 375px) {
  .title--banner {
    font-size: 1.65em;
  }
}
@media only screen and (min-width: 1275px) {
  .title--banner {
    font-size: 2.15em;
  }
}

.shortener {
  padding: 25px;
  margin: -106px 0 25px 0;
  border-radius: 10px;
  background-color: #3b3054;
  background-image: url("../assets/images/bg-shorten-mobile.svg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .shortener {
    display: grid;
    grid-template: repeat(2, auto)/auto 180px;
    column-gap: 25px;
    margin-top: -85px;
    padding: 35px;
    background-image: url("../assets/images/bg-shorten-desktop.svg");
  }
}
@media only screen and (min-width: 1024px) {
  .shortener {
    padding: 40px;
    margin-top: -95px;
  }
}
@media only screen and (min-width: 1275px) {
  .shortener {
    grid-template: repeat(2, auto)/auto 190px;
    padding: 50px 60px;
    margin-top: -120px;
  }
}

.input-wrapper {
  display: flex;
  position: relative;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .input-wrapper {
    grid-row: 1/2;
    width: 100%;
  }
}

.input {
  width: 100%;
  padding: 8px 28px 8px 14px;
  border: 3px solid transparent;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  color: #9e9aa7;
}
@media only screen and (min-width: 768px) {
  .input {
    padding-right: 40px;
  }
}
@media only screen and (min-width: 1275px) {
  .input {
    padding: 14px 50px 14px 24px;
    font-size: 1.15em;
  }
}

.error-input {
  border: 3px solid #f46262;
  color: #f46262;
}
@media only screen and (min-width: 768px) {
  .error-input {
    grid-row: 2/3;
    grid-column: 1/3;
  }
}

.loader {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 10px;
  background: url("../assets/images/loader.svg") 97% center no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .loader {
    width: 20px;
    height: 20px;
    right: 15px;
  }
}
@media only screen and (min-width: 1275px) {
  .loader {
    width: 25px;
    height: 25px;
    right: 15px;
  }
}

.error {
  font-style: italic;
  font-size: 0.85em;
  color: #f46262;
}
@media only screen and (min-width: 768px) {
  .error {
    margin-top: 5px;
  }
}
@media only screen and (min-width: 1275px) {
  .error {
    font-size: 1.05em;
  }
}

.fa-bars {
  font-size: 1.6em;
  color: #9e9aa7;
}
@media only screen and (min-width: 1024px) {
  .fa-bars::before {
    display: none;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 55px 20px 40px 20px;
  align-items: center;
  text-align: center;
  background-color: #232127;
}
@media only screen and (min-width: 1024px) {
  .footer {
    flex-direction: row;
    height: 310px;
    padding: 70px 40px 40px;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }
}

.logo--footer {
  margin-bottom: 15px;
  filter: brightness(0) invert(1);
}
@media only screen and (min-width: 1024px) {
  .logo--footer {
    margin-right: 165px;
  }
}

.info-links {
  margin-top: 34px;
}
.info-links ul {
  margin-top: 15px;
}
.info-links ul li {
  padding: 5px 0;
  font-size: 0.95em;
}
.info-links ul li a {
  opacity: 0.5;
  color: white;
}
.info-links ul li a:active {
  opacity: 1;
  color: #2acfcf;
}
@media only screen and (min-width: 1024px) {
  .info-links ul li a:hover {
    cursor: pointer;
    opacity: 1;
    color: #2acfcf;
  }
}
@media only screen and (min-width: 1024px) {
  .info-links {
    margin-top: 0;
  }
}

.title--info-links {
  font-size: 0.95em;
  color: white;
}

.social {
  display: flex;
  width: 175px;
  margin: 35px 0 10px 0;
  justify-content: space-between;
  font-size: 26px;
}
.social a {
  color: white;
}
.social a:active {
  color: #2acfcf;
}
@media only screen and (min-width: 1024px) {
  .social a:hover {
    cursor: pointer;
    color: #2acfcf;
  }
}
@media only screen and (min-width: 1024px) {
  .social {
    margin-top: 0;
  }
}

.copyIn {
  animation: copyIn 0.2s forwards;
}

@keyframes copyIn {
  from {
    background-color: #2acfcf;
  }
  to {
    background-color: #3b3054;
  }
}
.copyOut {
  animation: copyOut 0.2s forwards;
}

@keyframes copyOut {
  from {
    background-color: #3b3054;
  }
  to {
    background-color: #2acfcf;
  }
}
.hide {
  visibility: hidden;
}

.separator {
  width: 85%;
  margin: 0 auto;
  border-top: 1px solid #bfbfbf;
  opacity: 0.2;
}
@media only screen and (min-width: 768px) {
  .separator {
    display: none;
  }
}

.separator--all {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
