.button {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid transparent;
  font-family: $font;
  font-weight: 700;
  font-size: 1em;
  color: white;
  background-color: $secundary-color;
  outline: none;
}

.button--register {
  border-radius: $radius3;
}

.button--start {
  width: 200px;
  padding: 15px 20px;
  border-radius: $radius3;
}

.button--hero {
  padding: 13px;
  font-size: 1.1em;
}

.button--shortener {
  margin-top: 11px;
  border-radius: $radius2;
}

.button--copy {
  padding: 7.5px;
  margin: 12px 0 5px 0;
  border-radius: $radius2;
  font-size: .95em;
}
