* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  font-size: $size;
}

figure {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
}
