.hero {
  text-align: center;
  margin-bottom: 145px;
  &__img {
    height: 335px;
    margin-bottom: 20px;
    background: url('../assets/images/illustration-working.svg') 25px top no-repeat;
    background-size: cover;
  } 
  &__info {
    padding: 20px;
  }
}

.title {
  font-weight: 700;
  color: $dark-color;
}

.title--hero {
  font-size: 2.3em;
  line-height: 1.2em;
  margin-bottom: 15px;
}

.description {
  line-height: 1.7em;
  color: $light-color;
}

.description--hero {
  margin-bottom: 25px;
}

.content {
  padding: 25px 25px 32.5px 25px;
  background-color: $very-light-color;
}

.shortened-urls {
  margin-bottom: 85px;
}

.url-container {
  padding: 12px 0;
  margin-bottom: 23px;
  border-radius: $radius2;
  font-size: .88em;
  background-color: white;
}

.original-url {
  display: block;
  overflow: hidden;
  padding: 0 15px 10px 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $dark-color;
}

.shortened-url-wrapper {
  padding: 13px 15px 0 15px;
}

.shortened-url {
  color: $secundary-color;
}

.stats {
  text-align: center;
}

.title--stats {
  margin-bottom: 20px;
}

.description--stats {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 47px auto;
  font-size: .9em;
}

.stat {
  display: flex;
  margin-bottom: 48px;
  position: relative;
  justify-content: center;
  &__img {
    width: 88px;
    height: 88px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    background-size: 50%;
  }
  &__img1 {
    background: url('../assets/images/icon-brand-recognition.svg') center no-repeat, $primary-color;
  }
  &__img2 {
    background: url('../assets/images/icon-detailed-records.svg') center no-repeat, $primary-color;
  }
  &__img3 {
    background: url('../assets/images/icon-fully-customizable.svg') center no-repeat, $primary-color;
  }
  &__info {
    padding: 75px 25px 40px 25px;
    margin-top: 44px;
    border-radius: $radius2;
    background-color: white;
  }
  &:not(:last-of-type)::after {
    content: '';
    display: block;
    width: 8px;
    height: 50px;
    position: absolute;
    top: 100%;
    left: calc(50% - 4px);
    background-color: $secundary-color;
  }
}

.title--stat {
  font-size: 1.22em;
  margin-bottom: 15px;
}

.description--stat {
  font-size: .85em;
}

.banner {
  display: flex;
  flex-direction: column;
  height: 300px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url('../assets/images/bg-boost-mobile.svg') right top no-repeat, $primary-color ;
}

.title--banner {
  font-size: 1.45em;
  color: white;
}
