.button {
  width: 100%;
  padding: 10px 25px;
  border: 1px solid transparent;
  font-family: $font;
  font-weight: 700;
  font-size: 1.1em;
  color: white;
  background-color: $secundary-color;
  outline: none;
  &:active {
    opacity: .75;
  }
  @include media(display3) {
    &:hover {
      cursor: pointer;
      opacity: .75;
    }
  }
}

.button--register {
  border-radius: $radius3;
  font-size: 1em;
}

.button--start {
  width: 190px;
  padding: 15px 20px;
  border-radius: $radius3;
}

.button--hero {
  padding: 13px;
}

.button--shortener {
  margin-top: 15px;
  border-radius: $radius;
  @include media(display5) {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin-top: 0;
  }
  @include media(display4) {
    font-size: 1.2em;
  }
}

.button--copy {
  width: 90%;
  padding: 7.5px;
  margin: 12px 0 5px 0;
  border-radius: $radius2;
  font-size: .95em;
  @include media(display5) {
    width: 115px;
    margin: 0;
  }
  @include media(display3) {
    width: 105px;
  }
}
