.shortener {
  padding: 25px;
  margin: -106px 0 25px 0;
  border-radius: $radius;
  background-color: $primary-color;
  background-image: url('../assets/images/bg-shorten-mobile.svg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  @include media(display5) {
    display: grid;
    grid-template: repeat(2, auto) / auto 180px;
    column-gap: 25px;
    margin-top: -85px;
    padding: 35px;
    background-image: url('../assets/images/bg-shorten-desktop.svg');
  }
  @include media(display3) {
    padding: 40px;
    margin-top: -95px;
  }
  @include media(display4) {
    grid-template: repeat(2, auto) / auto 190px;
    padding: 50px 60px;
    margin-top: -120px;
  }
}

.input-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  @include media(display5) {
    grid-row: 1 / 2;
    width: 100%;
  }
}

.input {
  width: 100%;
  padding: 8px 28px 8px 14px;
  border: 3px solid transparent;
  border-radius: $radius;
  font-family: $font;
  font-size: 1em;
  color: $gray-color;
  @include media(display5) {
    padding-right: 40px;
  }
  @include media(display4) {
    padding: 14px 50px 14px 24px;
    font-size: 1.15em;
  }
}

.error-input {
  border: 3px solid $error-color;
  color: $error-color;
  @include media(display5) {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
}

.loader {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 10px;
  background: url('../assets/images/loader.svg') 97% center no-repeat;
  background-size: cover;
  @include media(display5) {
    width: 20px;
    height: 20px;
    right: 15px;
  }
  @include media(display4) {
    width: 25px;
    height: 25px;
    right: 15px;
  }
}

.error {
  font-style: italic;
  font-size: .85em;
  color: $error-color;
  @include media(display5) {
    margin-top: 5px;
  }
  @include media(display4) {
    font-size: 1.05em;
  }
}
