* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  font-size: $size1;
  @include media(display3) {
    font-size: $size2;
  }

}

.container {
  display: inherit;
  flex-direction: inherit;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  gap: inherit;
  position: inherit;
  justify-content: inherit;
  align-items: inherit;
}

figure {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
}
